<configuration>

    <include resource="com/google/cloud/spring/logging/logback-appender.xml" />
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <property name="APP_LOG_ROOT" value="log" />
    <property name="TRACER_PATTERN" value=":: TRACER_ID: %X{TRACER_ID}"/>
    <property name="SIMPLE_LOGGER_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} ${TRACER_PATTERN} %5p ${hostName} : %m%n%ex" />
    <property name="FULL_LOGGER_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} ${TRACER_PATTERN} %5p ${hostName} --- [%t] %logger : %m%n%ex" />
    <property name="projectId" value="${projectId:-${GOOGLE_CLOUD_PROJECT}}"/>

    <appender name="rootFileLogger" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.google.cloud.spring.logging.StackdriverJsonLayout">
                <projectId>${projectId}</projectId>

                <includeTraceId>true</includeTraceId>
                <!--<includeSpanId>true</includeSpanId>-->
                <includeLevel>true</includeLevel>
                <includeThreadName>true</includeThreadName>
                <!--<includeMDC>true</includeMDC>-->
                <includeLoggerName>true</includeLoggerName>
                <includeFormattedMessage>true</includeFormattedMessage>
                <includeExceptionInMessage>true</includeExceptionInMessage>
                <includeContextName>true</includeContextName>
                <includeMessage>false</includeMessage>
                <!--<includeException>false</includeException>-->
                <serviceContext>
                    <service>service-name</service>
                    <version>service-version</version>
                </serviceContext>
                <!--<customJson>{"custom-key": "custom-value"}</customJson>-->
                <!--<loggingEventEnhancer>your.package.YourLoggingEventEnhancer</loggingEventEnhancer> -->
            </layout>
        </encoder>
    </appender>

    <appender name="restRequestTimeLog" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.google.cloud.spring.logging.StackdriverJsonLayout">
                <projectId>${projectId}</projectId>

                <includeTraceId>true</includeTraceId>
                <!--<includeSpanId>true</includeSpanId>-->
                <includeLevel>true</includeLevel>
                <includeThreadName>true</includeThreadName>
                <!--<includeMDC>true</includeMDC>-->
                <includeLoggerName>true</includeLoggerName>
                <includeFormattedMessage>true</includeFormattedMessage>
                <includeExceptionInMessage>true</includeExceptionInMessage>
                <includeContextName>true</includeContextName>
                <includeMessage>false</includeMessage>
                <!--<includeException>false</includeException>-->
                <serviceContext>
                    <service>service-name</service>
                    <version>service-version</version>
                </serviceContext>
                <!--<customJson>{"custom-key": "custom-value"}</customJson>-->
                <!--<loggingEventEnhancer>your.package.YourLoggingEventEnhancer</loggingEventEnhancer> -->
            </layout>
        </encoder>
    </appender>

    <appender name="socketRequestTimeLog" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.google.cloud.spring.logging.StackdriverJsonLayout">
                <projectId>${projectId}</projectId>

                <includeTraceId>true</includeTraceId>
                <!--<includeSpanId>true</includeSpanId>-->
                <includeLevel>true</includeLevel>
                <includeThreadName>true</includeThreadName>
                <!--<includeMDC>true</includeMDC>-->
                <includeLoggerName>true</includeLoggerName>
                <includeFormattedMessage>true</includeFormattedMessage>
                <includeExceptionInMessage>true</includeExceptionInMessage>
                <includeContextName>true</includeContextName>
                <includeMessage>false</includeMessage>
                <!--<includeException>false</includeException>-->
                <serviceContext>
                    <service>service-name</service>
                    <version>service-version</version>
                </serviceContext>
                <!--<customJson>{"custom-key": "custom-value"}</customJson>-->
                <!--<loggingEventEnhancer>your.package.YourLoggingEventEnhancer</loggingEventEnhancer> -->
            </layout>
        </encoder>
    </appender>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
            <jsonFormatter
                    class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
                <prettyPrint>true</prettyPrint>
            </jsonFormatter>
            <timestampFormat>yyyy-MM-dd' 'HH:mm:ss.SSS</timestampFormat>
        </layout>
        <encoder>
            <pattern>:: %5p ${hostName} --- [%.-40t] %.-50c :: %m%n%ex</pattern>
        </encoder>
    </appender>

    <Logger name="br.com.bs.rest.process.RequestTimeProcess">
        <appender-ref ref="restRequestTimeLog" />
    </Logger>

    <Logger name="br.com.bs.socket.service.ConsultaSocketService">
        <appender-ref ref="socketRequestTimeLog" />
    </Logger>

    <root>
        <appender-ref ref="rootFileLogger" />
    </root>
</configuration>